{% extends 'base.html.twig' %}





{% block body %}

    <div class="notes-container">
        <h2 class="notes-header">Login</h2>

    </div>


    <div class="cd-timeline-content">
    <div class="container">


                {% block fos_user_content %}{% endblock %}





    </div>
    </div>



{% endblock %}